In [ ]:
#S13 T02: Base de dades MySQL

In [ ]:
#Nivell 1

In [ ]:
#Exercici 1
#Crea una base de dades relacionals senzilla utilitzant MySQL(https://www.mysql.com/) i connecta-la a Python

In [4]:
#Llibreries import
import mysql.connector

In [ ]:
#Establim la connexió
conn = mysql.connector.connect(user='root', password='root', host='127.0.0.1')

In [ ]:
#Creació d'un cursor 
cursor = conn.cursor()

In [ ]:
#Si existeix previament la base de dades la esborrem.
cursor.execute("DROP database IF EXISTS Explotacions")

In [ ]:
#Preparació un query per crear la base de dades
sql = "CREATE database Explotacions";

In [ ]:
#Creació de la base de dades
cursor.execute(sql)

In [ ]:
#Mostrem les bases de dades 
print("Llista de base de dades: ")
cursor.execute("SHOW DATABASES")
print(cursor.fetchall())

In [ ]:
#Creació de taula Transaccio
sql ='''CREATE TABLE Transaccio(
   IDtransaccio INT AUTO_INCREMENT PRIMARY KEY, 
   Codestabliment INT UNIQUE,
   Codclient INT UNIQUE,
   Codproducte INT UNIQUE,
   Datatransaccio DATE,
   Import FLOAT,
   IVA FLOAT,
   INDEX idx1 ((IDtransaccio + Codestabliment + Codclient + Codproducte))
)'''

cursor.execute(sql)

In [ ]:
#Creació de taula Client
sql ='''CREATE TABLE Client(
   IDClient INT AUTO_INCREMENT PRIMARY KEY, 
   DNI VARCHAR(45),
   Nom VARCHAR(45) NOT NULL,
   Cognoms VARCHAR(45) NOT NULL,
   Adreça VARCHAR(45) NOT NULL,
   Ciutat VARCHAR(45) NOT NULL,
   INDEX idx2 ((IDClient))
)'''

cursor.execute(sql)

In [ ]:
#Creació de taula Establiment
sql ='''CREATE TABLE Establiment(
   IDEstabliment INT AUTO_INCREMENT PRIMARY KEY, 
   Nom VARCHAR(45) NOT NULL,
   Localitzacio VARCHAR(45) NOT NULL,
   Superficie FLOAT,
   INDEX idx3 ((IDEstabliment))
)'''

cursor.execute(sql)

In [ ]:
#Creació de taula Treballador
sql ='''CREATE TABLE Treballador(
   IDTreballador INT AUTO_INCREMENT PRIMARY KEY, 
   Codestabliment INT UNIQUE,
   DNI VARCHAR(45) NOT NULL,
   Nom VARCHAR(45) NOT NULL,
   Cognoms VARCHAR(45) NOT NULL,
   Adreça VARCHAR(45) NOT NULL,
   Ciutat VARCHAR(45) NOT NULL,
   DataInici DATE,
   DataFi DATE,
   INDEX idx4 ((IDTreballador + Codestabliment))
)'''

cursor.execute(sql)

In [ ]:
#Creació de taula Producte
sql ='''CREATE TABLE Producte(
   IDProducte INT AUTO_INCREMENT PRIMARY KEY, 
   CodtipusProducte INT UNIQUE,
   NomProducte VARCHAR(45) NOT NULL,
   Descrip VARCHAR(45) NOT NULL,
   DataEntrada DATE,
   DataSortida DATE,
   Preu FLOAT,
   INDEX idx5 ((IDProducte + CodtipusProducte))
)'''

cursor.execute(sql)

In [ ]:
#Creació de taula TipusdeProducte
sql ='''CREATE TABLE TipusdeProducte(
   IDTipusdeProducte INT AUTO_INCREMENT PRIMARY KEY, 
   Descripcio VARCHAR(45) NOT NULL,
   Procedencia VARCHAR(45) NOT NULL,
   INDEX idx6 ((IDTipusdeProducte))
)'''

cursor.execute(sql)

In [ ]:
#Inserció de dades a la taula Transacció
sql = '''INSERT INTO Transaccio (Datatransaccio, Import, IVA) VALUES (%d, %d, %d)'''
values = ("02/02/2022", 150, 25)
cursor.execute(sql, values)
mydb.commit()

In [ ]:
#Inserció de dades a la taula Client
sql = '''INSERT INTO Client (DNI, Nom, Cognoms, Adreça, Ciutat) VALUES (%s, %s, %s, %s, %s)'''
values = ("36120450-J", "Pep","Ventura","Carrer Major 1", "Sabadell")
cursor.execute(sql, values)
mydb.commit()

In [ ]:
#Finalitza la connexió
conn.close()

In [ ]:
#Nivell 2

In [ ]:
#Exercici 2
#Mostra que pots carregar algunes consultes senzilles a un Pandas Dataframe.

In [ ]:
#Establim la connexió
conn = mysql.connector.connect(user='root', password='root', host='127.0.0.1', database = 'Explotacions')

In [ ]:
#Creació d'un cursor 
cursor = conn.cursor()

In [ ]:
#Preparació un query per la taula Transaccio
sql = '''SELECT * FROM Transaccio''';

In [ ]:
cursor.execute(sql)

In [ ]:
#Preparació un query per la taula Client
sql = '''SELECT * FROM Client''';

In [ ]:
cursor.execute(sql)

In [ ]:
#Finalitza la connexió
conn.close()

In [ ]:
#Nivell 3

In [ ]:
#Exercici 3
#Genera algun gràfic que resumeixi les dades.